<ul id="liste_blog" class="inside">
    <% if category == "" %>
      <li class="cover_blog">
        <div>
          <h3><%= t('blog.breaking_news')%></h3>
          <span class="blog_cover_strike"></span>
        </div>
        <div class="cover_blog_article_headline">
          <span class="tag_cat">cat</span>
          <h2>Titre</h2>
          <div class="card_blog_metadonnes">
            Lecture
          </div>
        </div>
      </li>
    <% end %>
    <% @articles.each do |article| %>
    <li class="card_blog">
      <%= link_to post_path(article) do %>
        <% if article.cover.attached? %>
          <div class="card_blog_img">
            <%= image_tag article.cover %>
          </div>
        <% end %>
        <div class="card_blog_content">
          <div class="card_blog_cat">
            <span class="tag_cat"><%= article.categories.first.titre if !article.categories.empty? %></span>
          </div>
          <h2 class="card_blog_titre">
            <%= article.titre %>
          </h2>
          <p class="card_blog_summary">
            <%= article.intro.to_plain_text.truncate(200, omission: '') %>
          </p>
        </div>
        <div class="card_blog_metadonnes">
          <p>lecture</p>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>
