<div id="landing_header">
  <div class="landing_header_content" id="blog_header">
      <h1>Blog</h1>
      <nav>
      <ul id="filters_list_blog">
      <%= link_to "Tous", blog_path(),class:"tag_filter active" %>
        <% @categories.each do |cat_filter| %>
          <%= button_to cat_filter.titre,blog_filter_path(cat:cat_filter.titre.downcase),class:"tag_filter" %>
        <% end %>
      </ul>
      </nav>
  </div>
</div>
<div data-controller="blog">

  <ul id="liste_blog" class="inside">
    <% if @headline.present? %>
      <% if @headline.cover.attached? %>
        <li class="cover_blog" style="background-image: url(<%= rails_blob_url(@headline.cover) %>)" %>
      <% else %>
        <li class="cover_blog" %>
      <% end %>
        <% if @headline.slug_authors.present? && !@headline.slug_authors.empty?%>
           <%= link_to post_author_path(@headline.slug_authors,@headline) do %>
            <div id="headline_cover">
              <h3 id="headline_titre_cover"><%= t('blog.breaking_news')%></h3>
              <span class="blog_cover_strike"></span>
            </div>
            <div class="cover_blog_article_headline">
              <div>
                <span class="tag_cat"><%= @headline.categories.first.titre if @headline.categories.present? %></span>
                <h2><%= @headline.titre %></h2>
              </div>
              <div class="card_blog_metadonnes">
                <p>Publié le <%= l @headline.created_at, format: :short %></p>
                <p>Temps de lecture</p>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= link_to post_path(@headline) do %>
            <div id="headline_cover">
              <h3 id="headline_titre_cover"><%= t('blog.breaking_news')%></h3>
              <span class="blog_cover_strike"></span>
            </div>
            <div class="cover_blog_article_headline">
              <div>
                <span class="tag_cat"><%= @headline.categories.first.titre if @headline.categories.present? %></span>
                <h2><%= @headline.titre %></h2>
              </div>
              <div class="card_blog_metadonnes">
                <p>Publié le <%= l @headline.created_at, format: :short %></p>
                <p>Temps de lecture</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
    <% @articles.each do |article| %>
    <li class="card_blog">
    <% if article.slug_authors.present? && !article.slug_authors.empty? %>
      <%= link_to post_author_path(article.slug_authors,article) do %>
        <% if article.cover.attached? %>
          <div class="card_blog_img">
            <%= image_tag article.cover %>
          </div>
        <% end %>
        <div class="card_blog_content">
          <div class="card_blog_cat">
            <span class="tag_cat"><%= article.categories.first.titre if !article.categories.empty? %></span>
          </div>
          <h2 class="card_blog_titre">
            <%= article.titre %>
          </h2>
          <p class="card_blog_summary">
            <%= article.intro.to_plain_text.truncate(200, omission: '') %>
          </p>
        </div>
        <div class="card_blog_metadonnes">
          <p>Publié le <%= l article.created_at, format: :short %></p>
          <p>Temps de lecture</p>
        </div>
      <% end %>
    <% else %>
      <%= link_to post_path(article) do %>
        <% if article.cover.attached? %>
          <div class="card_blog_img">
            <%= image_tag article.cover %>
          </div>
        <% end %>
        <div class="card_blog_content">
          <div class="card_blog_cat">
            <span class="tag_cat"><%= article.categories.first.titre if !article.categories.empty? %></span>
          </div>
          <h2 class="card_blog_titre">
            <%= article.titre %>
          </h2>
          <p class="card_blog_summary">
            <%= article.intro.to_plain_text.truncate(200, omission: '') %>
          </p>
        </div>
        <div class="card_blog_metadonnes">
          <p>Publié le <%= l article.created_at, format: :short %></p>
          <p>Temps de lecture</p>
        </div>
      <% end %>
    <% end %>
    </li>
    <% end %>
  </ul>
    <!--
    <div class="card_prestation_displayed">
      <div class="card_prestation_text">
        <h3>Vous recherchez à doser certaines substances ou molécules dans diverses matrices de plante ?</h3>
        <p>Nos experts sont capables d'identifier une large diversité de familles de molécules via de nombreuses méthodes de dosages complexes pour identifier et quantifier les composés actifs des plantes, pour les valoriser ou réduire les risques associés</p>
        <%= link_to "En savoir plus", "",class:"btn_contact"%>
      </div>
      <div class="card_prestation_cover">
        <%= image_tag "" %>
      </div>
    </div>
    -->
</div>
<ul>
<% @articles.each do |article| %>
<li><%= link_to article.titre, post_path(article) %> | <%= link_to "edit", edit_article_path(article) %>
</li>
<% end %>
</ul>

<%= paginate @articles %>
