<h1>Articles#new</h1>
<p>Find me in app/views/articles/new.html.erb</p>
<div class="inside" style="padding-top:10em;">
<%= simple_form_for @article do |f| %>
  <%= f.association :authors, collection: Author.all,
      value_method: :id, label_method: :lastname,
      as: :check_boxes, include_blank: false %>
  <%= f.input :lang, collection:["fr","en","de","es"], selected:0 %>
<div class="form_seo">
<%= f.input :title %>
<%= f.input :meta_description %>
<%= f.input :indexed %>
<%= f.input :public %>
<%= f.input :summary %>
</div>
<%= f.input :titre %>
<%= f.rich_text_area :intro %>
<div>
<%= f.label :content %>
<%= f.richer_text_area :content,tables:true,callouts:true, :input_html => { 'rows' => 10} %>
</div>
<%= f.file_field :cover %>
<%= f.input :legend_cover %>
<%= f.button :submit,class:"button" %>
<% end %>
</div>
