<div id="actif_header">
</div>
<article class="">
<section class="inside actif_show">
  <div class="actifs_photos">
    <div class="first_actif_photo">
      <%= image_tag @actif.photos[0], crop: :fill if @actif.photos[0].present? %>
    </div>
    <div class="second_actif_photo">
      <div>
        <%= image_tag @actif.photos[0], crop: :fill if @actif.photos[0].present? %>
      </div>
      <div>
        <%= image_tag @actif.photos[0], crop: :fill if @actif.photos[0].present? %>
      </div>
    </div>
    <div class="actif_labels">
      <% if @actif.ecocert? %>
      <div>
        <%= image_tag "ecocert.svg" %>
      </div>
      <% end %>
      <% if @actif.made_in_france? %>
      <div>
        <%= image_tag "made-in-france.svg" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="actif_description">
    <h1><%= @actif.name %></h1>
    <%= @props_actif %>
    <%= @cats_produits %>
    <p><%= @actif.description %></p>
    <div class="accordions_list" data-controller="accordeon">
      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Composition (INCI)</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
          <p><%= @actif.composition %></p>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Revendications et propriétés</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
        </div>
      </div>

      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Dans quels types de produits l'utiliser ?</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
        </div>
      </div>

      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Cible biologique innovante</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
        </div>
      </div>

      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Efficacité in vitro</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
        </div>
      </div>

      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Données clinique/in vitro</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
        </div>
      </div>

      <div class="accordion">
        <div class="accordion_head" data-action="click->accordeon#toggleHorizontal" data-accorderon-target="horizontal">
          <h2 class="accordion_titre">Concentration dans la formule/ Dosage</h2><span><%= image_tag "pictos/croix-black.svg",class:"croix visible"%><%= image_tag "pictos/moins-green.svg",class:"moins"%></span>
        </div>
        <div class="accordion_content">
        </div>
      </div>


    </div><!-- Fin accordions_list -->

    <div class="actif_ctas">
      <p>Vous avez un projet ?</p>
      <div class="flex">
        <%= link_to "",class:"btn_devis" do %>
          <span>Demander un devis</span><%= image_tag "pictos/arrow-circle.svg"%>
        <% end %>
        <% if @actif.document.present? %>
          <%= link_to rails_blob_path(@actif.document, disposition: 'attachment'),class:"btn_download" do %>
            <span>Télécharger la fiche</span><%= image_tag "pictos/download.svg"%>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

</section>
