

<article id="authors">
    <section id="author_header">
      <div id="about_author" class="inside">
        <div class="author_img">
          <%= image_tag "" %>
        </div>
        <h1 class="author_name"><%= @author.firstname%>  <%= @author.lastname %></h1>
        <div class="author_cats">
          cats
        </div>
        <p class="author_function"><%= @author.function %>f</p>
        <div class="author_contact">
          Contact
        </div>
      </div>
    </section>
    <section class="">
      <h2>A propos de <%= @author.firstname %> <%= @author.lastname %></h2>
      <p><%= @biography %></p>
    </section>
    <section>
      <div class="inside">
        <h2>Dernières publications</h2>
      </div>
    </section>
    <section>
      <div class="inside">
        <h2>Conférences, interventions, interviews</h2>
      </div>
    </section>
    <section class="green-background">
      <div class="inside">
        <h2>A lire aussi</h2>
      </div>
    </section>
    <aside>
    CTA
    </aside>
</article>
