<div id="footer">
  <footer>
    <nav>
    <div>
      <div id="footer_logo">
        <%= image_tag "logo-feuille.svg"%>
        <%= image_tag "logo-text.svg"%>
      </div>
      <address>Parc d'innovation de Strasbourg<br>
      300 boulevard Sébastien Brandt<br>
      67412 Illkirch
      </address>
      <a href="tel:+33368854841"><%= image_tag "tel.svg"%>03 68 85 48 41</a>
      <p><%= image_tag "mail.svg"%>Nous contacter</p>
    </div>
    <ul>
      <li><a href="#">Télécharger la brochure</a></li>
      <li><a href="#">Questions Fréquentes</a></li>
      <li><a href="#">Lexique (définitions)</a></li>
      <li><a href="#">Recrutement</a></li>
    </ul>
    <ul>
      <li><a href="#">Backoffice Phytodia</a></li>
      <li><a href="#">Backoffice client</a></li>
      <li><a href="#">Outils</a></li>
    </ul>
      <ul>
        <li>Mentions légales</li>
        <li>Politique de confidentialité</li>
        <li>Gestion des cookies</li>
        <li>Plan du site</li>
      </ul>
      <div class="made_in_france">
        <%= image_tag "made-in-france.svg"%>
      </div>
    </nav>
  </footer>
</div>
