<div class="mega_menu">
  <div class="container_menu">
    <div class="intro_menu">
      <div class="intro_menu_img">
        <%= image_tag "matrice-verte.svg"%>
      </div>
      <div class="intro_menu_text">
        <h2>Analyses, Recherche & Développement</h2>
        <p>Vous travaillez avec les plantes de près ou de loin ?<br>
        Experts de la plante au produit depuis plus de 15 ans, nous mettons nos connaissances et notre savoir-faire au service de votre projet.<br>
        Tirer le meilleur des plantes grâce à la science, telle est la raison d'être des Laboratoires Phytodia.
        </p>
        <div class="more_infos_menu">
          <%= image_tag "green-arrow-right.svg"%>
          <%= link_to "En savoir plus","", class:"" %>
        </div>
      </div>
    </div>
    <div class="links_menu">
      <ul class="grid_links">
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Extraction végétale" %>
          <ul>
          <li>Développement actifs (cosmétique)/extrait végétal</li>
          <li>Identification d'une ressource alternative</li>
          <li>Amélioration du process d'extraction végétale de votre matière première</li>
          </ul>
        </li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
        <li><%= link_to "Analyse molécules végétales" %></li>
      </ul>
    </div>
  </div>
</div>
