<div id="navbar_2">
  <nav>
  <ul>
    <div>
      <li id="logo_nav">
      <%= image_tag "logo-feuille.svg"%>
      <%= image_tag "logo-text.svg"%>
      </li>
      <li class="dropdown_nav header_nav_link">
        <%= link_to "" do %>
          <span>Laboratoire <br>des plantes</span>
          <%= image_tag "chevron-bas.svg" %>
        <% end %>
        <%= render "shared/mega_menu" %>
      </li>
      <li class="dropdown_nav header_nav_link">
        <%= link_to "" do %>
          <span>Analyses, Recherche<br> & Développement</span>
          <%= image_tag "chevron-bas.svg" %>
        <% end %>
        <%= render "shared/mega_menu" %>
      </li>
      <li class="dropdown_nav header_nav_link">
        <%= link_to "" do %>
          <span>Laboratoire <br>cosmétologie</span>
          <%= image_tag "chevron-bas.svg" %>
        <% end %>
        <%= render "shared/mega_menu" %>
      </li>
      <li><a href="#"><span>Nos actifs</span></a></li>
    </div>
    <div>
      <li><%= link_to "À PROPOS" %></li>
      <li><%= link_to "BLOG" %></li>
      <li><%= link_to "NOUS CONTACTER" %></li>
      <div>
        <p>Langues</p>
      </div>
    </div>
  </ul>
  </nav>
</div>
