<nav id="navmobile" data-controller="nav">
    <div id="header_mobile">
      <div id="logo_nav">
          <%= image_tag "logo-feuille.svg"%>
          <%= image_tag "logo-text.svg"%>
      </div>
      <div class="hamburger" id="hamburger-1" data-action="click->nav#toggle" data-nav-target="burger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
    </div>
    <ul id="mobile_menu_links" class="" data-nav-target="menu_mobile">
      <li>
        <%= link_to "" do %>
          <span>Laboratoire des plantes</span>
          <%= image_tag "chevron-right.svg"%>
        <% end %>
      </li>
      <li>
        <%= link_to "" do %>
          <span>Analyse, Recherche & Développement</span>
          <%= image_tag "chevron-right.svg"%>
        <% end %>
      </li>
      <li>
        <%= link_to "" do %>
          <span>Laboratoire Cosmétologie</span>
          <%= image_tag "chevron-right.svg"%>
        <% end %>
      </li>
      <li>
        <%= link_to "" do %>
          <span>Nos actifs et produits</span>
          <%= image_tag "chevron-right.svg"%>
        <% end %>
      </li>
      <hr>
      <li>A propos</li>
      <li>Blog</li>
      <li>
        <%= link_to "Nous contacter", "#", class:"btn_contact"%>
      </li>
    </ul>

</nav>
