<div id="navbar_2">
  <nav>
  <ul>
    <div>
      <li id="logo_nav">
      <%= image_tag "logo-feuille.svg"%>
      <%= image_tag "logo-text.svg"%>
      </li>
      <li class="dropdown_nav">
        <a href="#">Laboratoire des plantes</a>
        <%= render "shared/mega_menu" %>
      </li>
      <li class="dropdown_nav">
        <a href="#">Analyse</a>
        <%= render "shared/mega_menu" %>
      </li>
      <li class="dropdown_nav">
        <a href="#">Laboratoire cosmétologie</a>
        <%= render "shared/mega_menu" %>
      </li>
      <li><a href="#">Nos actifs</a></li>
    </div>
    <div>
      <li>A propos</li>
      <li>Blog</li>
      <li>Nous contacter</li>
      <div>
        <p>Langues</p>
      </div>
    </div>
  </ul>
  </nav>
</div>
