<article class="page_custom" data-controller="contact">
  <div class="page_custom_header contact_us">
    <div class="inside page_custom_header_text">
      <h1 class=""><%= t("contact.contact_titre")%></h1>
      <p class="page_custom_text_presentation"><%= t("contact.contact_accroche")%>
      </p>
    </div>
  </div>
  <div id="contact_main" class="inside">
    <div class="contacts_livraison">
      <div class="contacts">
        <div class="contact_titre" data-contact-target="headerAccordeon" data-action="click->contact#toggleAccordeon">
          <h2><%= t('contact.contacts')%></h2>
          <%= image_tag "pictos/croix-black.svg"%>
        </div>
        <div data-contact-target="accordeon" class="contact_accordeon open">
          <div class="contact_address_call">
            <div class="contact_titre_icon">
              <div>
                <%= image_tag "pictos/map-marker.svg"%>
              </div>
              <h3><%= t('contact.siege_social')%></h3>
            </div>
            <address>
              300 boulevard Sebastien Brant<br> 67412 Illkirch-Graffenstaden - France
            </address>
            <%= mail_to "labo@phytodia.com",t('contact.anchor_info'),subject:"#{t('contact.subject_info')} | Phytodia"%>
          </div>

          <hr>

          <div class="contact_address_call">
            <div class="contact_titre_icon">
              <div>
                <%= image_tag "pictos/phone-contact.svg"%>
              </div>
              <h3><%= t('contact.call_us') %></h3>
            </div>
            <ul class="list_tels">
              <% @tels.keys.each do |key| %>
                <li><%= @tels[key]["name_#{locale.to_s}"] %>...<%= link_to @tels[key]["tel"],"tel: #{@tels[key]["phone"]}" %></li>
              <% end %>
            </ul>
          </div>

          <div class="map_contact" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

          </div>
        </div>

      </div>
      <div class="livraison">
        <div class="contact_titre" data-contact-target="headerAccordeon" data-action="click->contact#toggleAccordeon">
          <h2><%= t('contact.livraison')%></h2>
          <%= image_tag "pictos/croix-black.svg"%>
        </div>
        <div data-contact-target="accordeon" class="contact_accordeon">
          <div class="contact_address_call">
            <div class="contact_titre_icon">
              <div>
                <%= image_tag "pictos/map-marker.svg"%>
              </div>
              <h3><%= t('contact.livraison_points')%></h3>
            </div>
            <address>
              300 boulevard Sebastien Brant<br> 67412 Illkirch-Graffenstaden - France
            </address>
            <%= mail_to "logistique@phytodia.com",t('contact.anchor_info'),subject:"#{t('contact.subject_livraison')} | Phytodia"%>
            <%= link_to "+33 (0)3 68 85 48 42", "tel:+#{33368854842}" %>
          </div>

          <hr>
          <div class="map_contact" data-controller="map" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

          </div>
        </div>

      </div>
    </div>
    <div class="contact_form">
      <div class="contact_titre" data-contact-target="headerAccordeon" data-action="click->contact#toggleAccordeon">
          <h2><%= t('form.send_message')%></h2>
          <%= image_tag "pictos/croix-black.svg"%>
      </div>
      <div data-contact-target="accordeon" class="contact_accordeon">
        <h2><%= t('form.your_request')%></h2>
        <%= simple_form_for :contact, url: send_path, class:"form" do |f| %>

        <%= f.input :subject, as: :select, collection:@objects_form, label:t('form.subject'), placeholder:"Selectionner",prompt: "#{t('form.selectionnez')}...",input_html:{required: true,data:{controller:"contact",action:"change->contact#selectObject",contact_target:"formObject"}} %>
        <%= f.input :cosmetic_prestas, label:t('form.cosmetic_prestas'),as: :check_boxes, collection: [['Full service', 1], ['Formulation', 2],['Règlementation', 3],['Fabrication', 4]],required:false, data:{controller:"contact",contact_target:"cosmecticPresta"} %>
        <h2><%= t('form.coordonnees')%></h2>
        <div class="grid_form">
          <div class="flex_form">
            <%= f.input :name,label:t('form.name'), input_html:{required: true} %>
            <%= f.input :firstname, label:t('form.firstname'),input_html:{required: true} %>
          </div>
            <%= f.input :mail, label:t('form.mail'), input_html:{required: true} %>
            <%= f.input :address, label:t('form.address'), input_html:{required: true} %>
          <div class="flex_form">
            <%= f.input :zip_code, label:t('form.zip_code'), input_html:{required: true} %>
            <%= f.input :city, label:t('form.city'), input_html:{required: true} %>
          </div>
          <%= f.input :tel, label:t('form.tel'), placeholder:'i.e 06 27 43 12 36', input_html:{required: true} %>
          <%= f.input :emploi, label:t('form.emploi_type'), as: :select, placeholder:"Type d'emploi",prompt:"#{t('form.selectionnez')}...", collection:[t('form.cdd/cdi'),t('form.stage'),t('form.alternance')],input_html:{data:{controller:"contact",action:"change->contact#selectStage",contact_target:"stageSelect"}} %>
          <%= f.input :duree_stage,label:t('form.stage_duree'),as: :select, placeholder:"#{t('form.stage_duree')}",prompt:"#{t('form.selectionnez')}...", collection:[t('form.moins_8_semaines'),t('form.plus_8_semaines')] %>
          <%= f.input :a_partir_de, label:t('form.a_partir_de'),as: :date, html5: true %>
        </div>
        <div class="grid_form">
          <h2><%= t('form.votre_message')%></h2>
          <%= f.input :message,as: :text,:input_html => { :rows => 10} %>
        </div>
        <div>
          <h2><%= t('form.joindre_document')%></h2>
          <div class="form_field_attachements">
            <p><%= t('form.accepted_files')%></p>
            <div class="form_attachements">
              <%= f.file_field :attachments, multiple: true, direct_upload: true %>
            </div>
          </div>
        </div>
        <div class="rgpd">
          <%= f.input :rgpd,as: :boolean, label: t('form.rgpd'), input_html:{required: true}%>
        </div>
        <div class="send_contact_form">
          <p><%= image_tag "pictos/required-star.svg"%><%= t('form.fields_necessary')%></p>
          <%= f.submit t('form.send'),class:"btn_round"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</article>
