<div id="home_header">
</div>
<%= link_to "en", url_for(locale: :en) %>
<%= link_to "fr", url_for(locale: :fr) %>
<%= link_to "de", url_for(locale: :de) %>
<%= link_to "es", url_for(locale: :es) %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><%= t('hello') %></p>
<p><%= t :hello %></p>

<%= link_to "A propos", about_path() %>
<h2>Accès pages</h2>
<ul>
  <li><%= link_to "laboratoire des plantes", send("laboratoire_plantes_#{locale.to_s}_path") %></li>
  <li><%= link_to "actifs", send("actifs_#{locale.to_s}_path" )%></li>
  <li><%= link_to "auteurs", send("authors_#{locale.to_s}_path")%></li>
</ul>

<h2>Prestations</h2>
<ul>
<% Prestation.all.each do |presta|%>
<li><%= link_to presta.titre, prestation_show_path(presta)%> | <%= link_to "Edit",edit_prestation_path(presta)%></li>
<% end %>
</ul>
