<%= link_to "en", url_for(locale: :en) %>
<%= link_to "fr", url_for(locale: :fr) %>
<%= link_to "de", url_for(locale: :de) %>
<%= link_to "es", url_for(locale: :es) %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><%= t('hello') %></p>
<p><%= t :hello %></p>

<%= link_to "A propos", about_path() %>
<h2>GGG TT</h2>

<%= link_to "laboratoire des plantes", send("laboratoire_plantes_#{locale.to_s}_path") %>
